.bs-container,
.bs-container-fluid,
.bs-container-xxl,
.bs-container-xl,
.bs-container-lg,
.bs-container-md,
.bs-container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}
@media (min-width: 576px) {
  .bs-container-sm,
  .bs-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .bs-container-md,
  .bs-container-sm,
  .bs-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .bs-container-lg,
  .bs-container-md,
  .bs-container-sm,
  .bs-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .bs-container-xl,
  .bs-container-lg,
  .bs-container-md,
  .bs-container-sm,
  .bs-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .bs-container-xxl,
  .bs-container-xl,
  .bs-container-lg,
  .bs-container-md,
  .bs-container-sm,
  .bs-container {
    max-width: 1320px;
  }
}
