@import "./components/_container.css";
@import "./components/_buttons.css";
@import "./components/_modal.css";
@import "./components/_navigation.css";

.card {
  @apply rounded-md border border-black border-opacity-5 bg-white p-4 text-black shadow-md;
}

div[data-popper-placement^="top"] > .tooltip-arrow {
  @apply -bottom-1;
}
div[data-popper-placement^="bottom"] > .tooltip-arrow {
  @apply -top-1;
}
div[data-popper-placement^="left"] > .tooltip-arrow {
  @apply -right-1;
}
div[data-popper-placement^="right"] > .tooltip-arrow {
  @apply -left-1;
}

.text-placeholder {
  @apply inline-block min-h-[1em] cursor-wait bg-current align-middle opacity-50;
}

[data-nav-skip-link] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  @apply absolute -m-px h-px w-px overflow-hidden p-0 text-white hover:text-secondary-300;
}
[data-nav-skip-link]:focus {
  clip: auto;
  @apply fixed top-1 left-1 z-10 h-auto w-auto bg-gray-600 p-3;
}
