/* ../../node_modules/tailwindcss/base.css */
@import "tailwindcss/base";

/* ../../node_modules/tailwindcss/components.css" */
@import "tailwindcss/components";
@import "./_components.css";

/* ../../node_modules/tailwindcss/utilities.css */
@import "tailwindcss/utilities";

html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #371b36;
  color: white;
}

a {
  color: #0d6efd;
}
a:hover {
  color: #0a58ca;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.custom-outline {
  box-shadow: 0 0 0 2pt white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
