@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./_components.css";

@import "tailwindcss/utilities";

/* OLD */
/* https://www.realtimecolors.com/?colors=e5faf5-041612-86eed4-571599-cabc63&fonts=Poppins-Poppins */

/* NEW */
/* https://www.realtimecolors.com/dashboard?colors=dcf2fb-020a0d-81cff0-971242-e6912d&fonts=Poppins-Poppins */

:root {
  --text: 197 79% 92%;
  --background-lighter-10: 196 73% 13%;
  --background: 196 73% 3%;
  --primary-lighter-10: 198 79% 82%;
  --primary: 198 79% 72%;
  --primary-darker-10: 198 79% 62%;
  --secondary-lighter-10: 338 79% 43%;
  --secondary: 338 79% 33%;
  --secondary-darker-10: 338 79% 23%;
  --accent-lighter-10: 32 79% 64%;
  --accent: 32 79% 54%;
  --accent-darker-10: 32 79% 44%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.custom-outline {
  box-shadow: 0 0 0 2pt white;
}
