@import "functions";
@import "variables";
@import "font-face";

@tailwind base;
@tailwind components;
@import "components";
@tailwind utilities;
// Utilities
@import "headings";

html,
body {
  color: white;
  font-family: Montserrat, Roboto, Lato, -apple-system, BlinkMacSystemFont,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  background-color: $stq-body-color;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh;
}
