// Fonts
@import "font-face";
// variables
@import "variables";
// Tailwind
@import "Tailwind";
// Utilities
@import "headings";
// components
@import "components";

html,
body {
  color: white;
  font-family: Montserrat, Roboto, Lato, -apple-system, BlinkMacSystemFont,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  background-color: $stq-body-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
